.visualizer__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main__visualizer {
  display: grid;
  /* can we make the template auto for resizing? or change it based on size in js? */
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  height: fit-content;
  width: fit-content;
  background-color: lightgrey;
  grid-gap: 1px;
}

.grid__item {
  /* dynamic?? */
  justify-content: center;
  align-items: center;
  display: flex;
  background: white;
}
